html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #f4f6f8;
    width: 100%;
}

a {
    text-decoration-line: none;
    color: black;
}

:root {
    --fontsize-large: 20px;
    --fontsize-medium: 16px;
    --fontsize-small: 14px;
    --fontsize-micro: 10px;

    --background-color: #1e1e20;
    --section-color: #272829;
    --main-color: #03c75a;
    --border-color: #e3e5e8;
    --sub-text: #767678;
}

/* nav */

.m-navbar {
    padding: 16px 16px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-nav-menu,
.m-nav-chat {
    margin-right: 14px;
}

.m-nav-notice {
    margin-right: 30px;
}

.chat-btn,
.notice-btn {
    border: none;
    background-color: transparent;
    /* width: 40px;
    height: 40px; */
    font-size: 25px;
    padding: 0px;
}

.naver-Na-link {
    background-color: white;
    border-radius: 50%;
    /* padding: 8px; */
    width: 33px;
    height: 33px;
    /* a태그에 가로세로 주려면 인라인블락 */
    display: inline-block;
}

.naver-Na {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    color: var(--sub-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    /* width: 488px; */
    display: flex;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    background-color: white;
    padding: 5px 15px;
    box-shadow: 0px 2px 2px #ddd;
}

.search-input {
    width: 380px;
    border: none;
    padding-left: 5px;
    font-size: 18px;
    /* color: var(--sub-text); */
    font-weight: bold;
}
.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    font-weight: normal;
    color: #bcc3c7;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}

.voice-input {
    border: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: 25px;
    padding: 0px;
}

/* m-quick-icon */
.quick-icon-container {
    display: flex;
    justify-content: center;
}
.m-quick-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    /* width: 100%; */
}

.m-quick-icon {
    /* width: 25%; */
}

.m-quick-icon-list {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.m-quick-icon-list-1 {
    margin-bottom: 30px;
}

.icon-container {
    width: 100%;
    height: 100%;
}

.quick-icon-img {
    width: 45px;
    height: 45px;
}

.quick-icon-name {
    font-size: 11px;
}

.quick-icon-link {
    text-align: center;
}

/* m-ad */
.m-ad {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.m-ad-img {
    width: 386.39px;
}

/* m-contents */
.m-contents {
    /* padding: 0px 300px; */
    display: flex;
    justify-content: center;
}

.content-card {
    padding: 20px 16px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.m-content {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 355px;
    height: 100%;
    /* background-color: white; */
}

/* weather */
/* .weather-icon,
.weather-text,
.find-location {
    display: inline-block;
} */

.weather-main {
    display: flex;
    justify-content: space-between;
}

.weather-main-text {
    font-size: var(--fontsize-large);
    font-weight: bold;
}

.weather-sub-text {
    font-size: var(--fontsize-small);
    margin-top: 5px;
}

.dust-condition {
    color: #00a8ff;
}

.find-location {
    font-size: var(--fontsize-small);
}

.find-location-btn {
    border: none;
    background-color: transparent;
    color: var(--sub-text);
}

.find-location-icon {
    color: #2999f3;
}

.weather-detailed {
    margin-top: 25px;
    font-size: var(--fontsize-small);
    color: var(--sub-text);
    line-height: 18px;
    text-align: center;
}

/* naver-trend */
.naver-trend {
    padding: 3px 10px;
}

.ag-img {
    width: 100%;
    height: 100%;
}

/* channel list */
.channel-container {
    padding: 0px;
}

.channel-list {
    height: 100%;
}

.channel {
    height: 25%;
}

.channel-link {
    display: flex;
    /* flex-shrink: 0; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    border-bottom: 1px solid var(--border-color);
}

.webtoon-channel-link {
    border-bottom: none;
}

.channel-info {
    display: flex;
    align-items: center;
    /* flex-shrink: 0; */
}

.channel-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.channel-img-container {
    width: 55px;
    height: 55px;
}

.channel-img-container-right {
    margin-left: 20px;
}

.channel-img-container-left {
    margin-right: 20px;
}

.channel-title-right {
    text-align: right;
}

.main-title {
    color: #9761ed;
    font-weight: bold;
    margin-bottom: 10px;
}

.channel-main-title-left {
    color: var(--main-color);
}

.sub-title {
    color: var(--sub-text);
    font-size: var(--fontsize-small);
}

.channel-title {
    width: 72%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-left {
    color: #9761ed;
    font-size: var(--fontsize-large);
    font-weight: bold;
    /* flex-shrink: 0; */
}

.arrow-right {
    color: var(--main-color);
    font-size: var(--fontsize-large);
    font-weight: bold;
    /* flex-shrink: 0; */
}

/* ads-card */
.naver-ads-card {
    padding: 0px;
}

.naver-ads-card-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.naver-ads-card-container {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin-right: 10px;
}

.naver-ads-card-logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.naver-ads-card-info {
    padding: 16px;
    display: flex;
}

.naver-ads-card-title {
    color: black;
    font-weight: normal;
}

/* m-content-2 */
/* app*/
.m-content-2 {
    margin: 0px 25px;
}

.app-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-img-container {
    margin-right: 16px;
}

.app-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    font-size: 15px;
    width: 47%;
    margin-right: 10px;
    color: var(--sub-text);
}

.app-text span {
    font-weight: bold;
    color: black;
}

.use-app {
    color: var(--main-color);
    font-size: var(--fontsize-small);
}

/* m-content-3 */
/* shopping */
.shopping-live-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopping-live-title {
    font-weight: bold;
    font-size: 18px;
}

.live-red {
    /* color: red; */
}

.schedule-link {
    color: var(--sub-text);
    font-size: var(--fontsize-small);
}

.shopping-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.shopping-item-link {
    display: flex;
    align-items: center;
}

.item-img-container {
    position: relative;
    /* z-index: 1; */
    width: 86px;
    height: 86px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 14px;
}

.item-img {
    width: 100%;
    height: 100%;
}

.item-info-text {
    margin-bottom: 10px;
}

.item-info-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
}

.item-info-wating {
    margin-top: 3px;
    font-size: 12px;
    color: #5453e8;
}

.item-seller {
    display: flex;
}

.seller-img-container {
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.seller-img {
    width: 100%;
    height: 100%;
}

.seller-name {
    font-size: 13px;
    margin-left: 5px;
}

.alarm-on {
    width: 30px;
    height: 30px;
    margin-left: 16px;
    border: 1px solid #f44831;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alarm-btn {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #f44831;
}

.live-date {
    z-index: 3;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.32);
    font-size: var(--fontsize-micro);
    color: white;
    padding: 3px;
    border-radius: 20px;
}

.short-clip-link {
    border-radius: 20px;
    background-color: #f5f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.shopping-live-footer-img-container {
    width: 28px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
}

.shopping-live-footer-img {
    width: 100%;
    height: 100%;
}

.shopping-liver-footer-text {
    font-size: var(--fontsize-small);
    color: var(--sub-text);
}

/* naver-travel */
.naver-travel {
    padding: 0px 10px;
    display: flex;
}

.naver-travel-img {
    width: 100%;
}

.close-btn {
    padding: 0px;
    display: inline-block;
    background-color: white;
    border: none;
    color: var(--sub-text);
}

/* clip */
.clip-logo {
    color: #764cd5;
}

.clip-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 14px;
}

.clip-list {
    display: flex;
}

.clip-item {
    margin-right: 10px;
}

.clip-thumbnail-container {
    width: 132px;
    height: 198px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.clip-thumbnail {
    width: 100%;
    height: 100%;
}

.clip-video-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    width: 132px;
    font-size: 14px;
}

.clip-uploader {
    font-size: var(--fontsize-small);
    color: var(--sub-text);
    margin-top: 5px;
}

/* event */
.event-page {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.event-link {
    padding: 8px 30px;
    background-color: white;
    border-radius: 30px;
}

.event-page-box {
    display: flex;
}

.event-text {
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: var(--sub-text);
}

/* footer-btn */
.footer-btn-container {
    margin: auto;
    display: flex;
    width: 70%;
    margin-bottom: 10px;
    justify-content: space-between;
}
.text-btn {
    border: 1px solid var(--border-color);
    background-color: white;
    color: var(--sub-text);
    padding: 10px 8px;
}

.text-large-btn {
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-small-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.top-btn {
    border: 1px solid var(--border-color);
    background-color: white;
    color: var(--sub-text);
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 16px;
}

/* footer */
.m-naver-footer {
    margin: auto;
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.footer-info-2 {
    margin-top: 10px;
}

.footer-info-list {
    display: flex;
    justify-content: center;
}

.footer-list-item {
    padding: 0px 5px;
    border-right: 1px solid var(--border-color);
}

.footer-list-item-link {
    color: var(--sub-text);
    font-size: 13px;
}

.footer-list-item:nth-of-type(3) {
    border-right: none;
}

.personal-info-policy {
    font-weight: bold;
}

/* 2줄 */
@media screen and (max-width: 1158px) {
    .m-contents {
        flex-wrap: wrap;
    }

    .m-content-3 {
        margin-top: 16px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 355px);
        grid-template-rows: auto;
    }
}
